
.anime-tile {
	&__cover {
		margin: 0 0 0 -8px;
		width: auto;

		img {
			width: 150px;
		}
	}

	.mdl-card__title-text {
		a {
			text-decoration: none;
		}

		span {
			color: #555555;
			font-weight: 100;
			font-size: medium;
			line-height: 29px;
		}
	}

	&__synopsis {
		max-height: calc(100% - 112px);
		padding-bottom: 0;
		overflow: hidden;
	}
}

.anime-header {
	width: 100%;
	background-color: rgb(66, 66, 66);
	@extend .clearfix;
}

.anime-header__sub {
	margin: 0 auto;
	@extend .mdl-grid--wide;

	.mdl-button {
		margin-right: 12px;
	}

	h1 {
		color: #FFF;
		text-transform: uppercase;
	}

	&__content {
		background-color: rgba(150, 150, 150, 0.5);
		position: relative;

		&__synopsis {
			display: inline-block;
			padding: 25px 25px 0 25px;
			color: white;

			img {
				cursor: pointer;
				float: left;
				width: 200px;
				margin: -25px 25px 0 -25px;
			}
		}
	}
}

.mdl-chip .material-icons {
	line-height: 32px;
	margin-left: -1px;
}

#modal-official-cover {
	padding: 0;
	border: none;
	background-color: transparent;
	box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
	cursor: pointer;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);

	img {
		height: 80%;
	}
}

.download-section {

	&__table {
		width: 100%;
		border-collapse: collapse;

		tr {
			background-color: $accent;
			font-size: 14px;
			color: #FFF;
			border-bottom: thin solid #FFF;
			cursor: pointer;
			height: auto;
			@include transition(all 200ms ease-in);

			td {
				padding: 8px 5px;

				&:first-child {
					background-color: hsla(0,-50%,0,.5);
					width: 40px;
					font-weight: 700;
					text-align: center;
				}
			}

			&.hidden {
				height: 0;
			}

			&.disabled {
				background-color: rgba(155, 0, 0, 0.76);
				cursor: default;
			}

			&.download {
				td {
					background-color: white;
					text-align: left;
					padding: {
						left: 0;
						right: 0;
					}
				}
			}
		}
	}
}

.button-link {
	background-color: #2196f3;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	margin: 2px 0;
	@include transition(all 200ms ease-in);

	&:hover {
		background-color: #1976d2;
	}

	img {
		height: 16px;
	}
}

