$main: rgba(122, 171, 0, 1);
$main-90: rgba($main, .9);
$main-80: rgba($main, .8);
$theme-60: rgba($main, .6);
$theme-40: rgba($main, .4);
$theme-20: rgba($main, .2);

$accent: #424242;
$accent-80: rgba($accent, .8);