.mdl-layout__header-row {
	background: url('../img/bg.jpg') $main center / cover;
}

.mdl-layout__drawer-button {
	background-color: transparent !important;
}

.mdl-layout__content {
	background: url("../img/bg_content.png");
	position: relative;
}

.mdl-grid {
	padding: 0 8px; // Edited in "Anime"

	&--wide {
		max-width: 1200px;
		position: relative;
	}
}

.mdl-card {
	overflow: visible;
	width: 100%;
	min-height: inherit;
	margin: 15px auto 0 auto;

	&--no-margin {
		margin: 0 auto;
	}

	&--no-padding {
		padding-top: 0;
	}

	&__supporting-text {
		width: initial;
	}

	&__supporting-text a {
		text-decoration: none;
	}
}

.mdl-tabs__tab {

	&.is-active {
		background-color: #2196F3;
		color: white !important;
	}

	&-bar {
		h4 {
			margin: 0;
			line-height: 49px;
		}
	}
}

.mdl-layout__header-row {
	padding-right: 0 !important;
}

.navigation__container, .header__search {
	background-color: $theme-40;

	@media (max-width:839px) {
		background-color: transparent;
	}
}

.navigation__container {
	/* Simple hack to make the overflow happen to the left instead... */
	direction: rtl;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	//width: 500px;
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
	width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
	/* ... and now make sure the content is actually LTR */
	direction: ltr;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	//width: 800px;

	.mdl-navigation__link {
		display: inline-block;
		height: 60px;
		line-height: 68px;
		background-color: transparent !important;
		border-bottom: 4px solid transparent;
	}

	.mdl-navigation__link:hover {
		border-bottom: 4px solid $main;
	}
}

.header__search {
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	padding-right: 16px !important;
}

.drawer-navigation {
	flex-grow: 1;
}

// Login
.login__field {
	width: 50%;
	min-width: 400px;
}

.text-decoration--none {
	text-decoration: inherit;
	color: inherit;
	font-weight: inherit;
}