.download-link-icon {
	height: 16px;
}

#disqus_thread {
	padding: 8px;
}

.pagination {
	//background: #f7f7f7;
	padding: 8px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto', Calibri, sans-serif;
	font-size: 20px;
}

.pagination > li {
	display: inline-block;
	*display: inline; /* This fix is needed for IE7- */
	padding: 0 10px;
	zoom: 1;
}

.pagination > li > a {
	color: #555;
	text-decoration: none;
}

.pagination > li > a:hover {
	color: #000;
}

.pagination > li > span {
	color: #999;
	cursor: default;
}

.navigation-parent {
	color: gray;

	a {
		color: gray;
		text-decoration: none;
	}
}

.grid-cell-disabled {
	background-color: #d6d6ef;
}

#spotlight {
	width: 100%;
	overflow: hidden;

	&__content {
		width: 200%;
		z-index: 100;
		@extend .clearfix;
		@include transition(all 200ms ease-in);
	}
}

.spotlight-change {
	@include transform(translateX(-50%));
}

.spotlight__cell {
	width: 50%;
	float: left;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	background-color: rgb(66, 66, 66);
	color: white;
	font-size: 14px;
	cursor: default;

	&__title {
		margin: 16px;
		font-size: 2em;
		font-style: italic;
		text-transform: uppercase;
	}

	&__content {
		width: auto;
		height: 250px;
		background-color: rgba(0, 0, 0, .3);
		position: relative;
		display: inline-block;
		overflow: hidden;

		&:hover {
			.spotlight__cell__description {
				background-color: $theme;
			}

			.spotlight__cell__img {
				@include filter(blur(3px));
			}
		}
	}

	&__description {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $theme-90;
		padding: 10px;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(all 200ms ease-out);
	}

	&__episode {
		font-weight: normal;
		text-align: right;
	}

	&__link {
		text-decoration: none;
		color: white;
	}

	&__img {
		width: auto;
		height: 100%;
		-ms-interpolation-mode: bicubic; // Fixes image aliasing on IE
		@include transition(filter 200ms ease-out);
	}

}

.spotlight__switch {
	position: absolute;
	top: 15px;
	right: 15px;
	color: white;
	cursor: pointer;
	z-index: 110;
}

.calendar__label {
	height: 240px;
	margin: 0 10px;
	text-align: right;
	font-size: 1.5em;
	display: inline;
	cursor: default;
	@include writing-mode(vertical-rl, tb-rl);
	@include transform(rotate(180deg));

	span {
		color: darkgray;
	}
}

/** Anime **/
.anime-link {
	background-color: #2196f3;
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	@include transition(all 200ms ease-in);

	&:hover {
		background-color: #1976d2;
	}
}

.anime-tile__synopsis {
	max-height: 60px;
	overflow: hidden;
}

.anime-header {
	width: 100%;
	background-color: rgb(66, 66, 66);
	@extend .clearfix;
}

.anime-header__sub {
	margin: 0 auto;
	@extend .mdl-grid--wide;

	.mdl-button {
		margin-right: 12px;
	}

	h1 {
		color: #FFF;
		text-transform: uppercase;
	}

	&__content {
		background-color: rgba(150, 150, 150, 0.5);
		display: flex;

		&__synopsis {
			padding: 25px;
			color: white;
		}
	}

	img {
		width: 200px;
	}
}

/** Search **/
.paragraph-full {
	width: 100%;
}

/** Editor **/
.cropit-image-preview {
	cursor: move;
}

.editor-capa {
	height: 250px;
}

.clearfix {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}